alias glok "git log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue [%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all"
{{- if eq .chezmoi.os "darwin" }}
alias gl "dscl . -list /Groups | grep -vE '^_|^com'" # exclude groups that start with '_' or 'com'
alias pinentry "pinentry-mac"
alias refinder "osascript -e 'tell application \"Finder\" to tell front window to update every item'"
{{- end }}
alias cls "clear && printf '\e[3J'"
alias suck 'aria2c --file-allocation=none -c -x 10 -s 10 -d "$HOME/Downloads" '
if type -q eza
    alias ls "eza --icons --group-directories-first"
    alias ll "eza -l -g -h --icons"
    alias lla "ll -a"
end
if type -q kubectl
    alias k "kubectl"
end
#install yt-dlp via pip install yt-dlp and install ffmpeg from brew, add this
if type -q yt-dlp
    alias ytdl-audio="yt-dlp -f 'ba' -x --audio-format mp3"
    alias ytdl-video="yt-dlp -f 'bv[ext=mp4] +ba[ext=m4a]/best[ext=mp4]/best'"
    alias twitch-download="yt-dlp --downloader aria2c --downloader-args aria2c:'-c -j 32 -s 32 -x 16 --file-allocation=none --optimize-concurrent-downloads=true --http-accept-gzip=true'"
end
if type -q nvim
    alias vim "nvim"
    alias vi "nvim"
end
