# === EARLY SETUP (before ANY tools) ===
# Workaround error: ValueError: Unknown locale: UTF-8
set -gx LANG "en_US.UTF-8"
set -gx LC_ALL "en_US.UTF-8"
set -gx LC_CTYPE "en_US.UTF-8"

# XDG Base Directory Specification
set -gx XDG_CONFIG_HOME "$HOME/.config"
set -gx XDG_DATA_HOME   "$HOME/.local/share"
set -gx XDG_STATE_HOME  "$HOME/.local/state"
set -gx XDG_CACHE_HOME  "$HOME/.cache"

# XDG Directories for specific tools
set -gx STARSHIP_CONFIG             "$XDG_CONFIG_HOME/starship/starship.toml"
set -gx AWS_SHARED_CREDENTIALS_FILE "$XDG_CONFIG_HOME/aws/credentials"
set -gx AWS_CONFIG_FILE             "$XDG_CONFIG_HOME/aws/config"
set -gx DOTNET_CLI_HOME             "$XDG_DATA_HOME/dotnet"
set -gx KUBECONFIG                  "$XDG_CONFIG_HOME/kube/config"
set -gx KUBECACHEDIR                "$XDG_CACHE_HOME/kube"
set -gx ASDF_DATA_DIR               "$XDG_DATA_HOME/asdf"
set -gx ASDF_CONFIG_FILE            "$XDG_CONFIG_HOME/asdf/asdf.conf"

# Ensure directories exist
mkdir -p "$XDG_DATA_HOME"
mkdir -p "$XDG_CONFIG_HOME"
mkdir -p "$XDG_STATE_HOME"
mkdir -p "$XDG_CACHE_HOME"
mkdir -p "$(dirname "$STARSHIP_CONFIG")"
mkdir -p "$(dirname "$AWS_SHARED_CREDENTIALS_FILE")"
mkdir -p "$(dirname "$AWS_CONFIG_FILE")"
mkdir -p "$DOTNET_CLI_HOME"
mkdir -p "$ASDF_DATA_DIR"
mkdir -p "$(dirname "$ASDF_CONFIG_FILE")"
mkdir -p "$(dirname "$KUBECONFIG")"
mkdir -p "$KUBECACHEDIR"

# Load Nix environment
for f in /nix/var/nix/profiles/default/etc/profile.d/*.fish
    if test -f $f
        source $f
    end
end


# === PATH SETUP ===
# Disable the default greeting message
set -g fish_greeting

# Fish shell colors
set fish_color_command blue
set fish_color_autosuggestion yellow

# Bind -e \e\[A
bind \e\[A up-or-search

# Preferred editor
set -gx EDITOR nvim

# C/C++ compilers
set -gx CC gcc-13
set -gx CXX g++-13

# Default theme is 'Monokai Extended' | bat/src/assets.rs
set -x MANROFFOPT -c
set -x BAT_THEME gruvbox-dark
set -x MANPAGER "sh -c 'col -bx | bat -l man -p --paging=always --theme 'gruvbox-dark''"

# Let aria2 download python packages through aria2c instead of curl or wget
set -gx PYTHON_BUILD_ARIA2_OPTS "-x 10 -k 1M"

# ASDF configuration code
if test -z $ASDF_DATA_DIR
    set _asdf_shims "$HOME/.asdf/shims"
else
    set _asdf_shims "$ASDF_DATA_DIR/shims"
end

# Do not use fish_add_path (added in Fish 3.2) because it
# potentially changes the order of items in PATH
if not contains $_asdf_shims $PATH
    set -gx --prepend PATH $_asdf_shims
end
set --erase _asdf_shims


# === TOOL INITIALIZATIONS ===
if not status is-interactive
    exit
else
    {{- if eq .chezmoi.os "linux" }}
    # Fix COLORTERM (Black Background in K9S) inside tmux sessions
    if set -q TMUX
        set -e COLORTERM
    end
    {{- end }}
    {{- if eq .chezmoi.os "darwin" }}
    atuin init --disable-up-arrow fish | source
    eval (brew shellenv)
    {{- end }}
    starship init fish | source
    kubectl completion fish | source
    zoxide init fish | source
    direnv hook fish | source
end

# Load aliases
if test -f $__fish_config_dir/aliases.fish
    source $__fish_config_dir/aliases.fish
end

# Load Abbreviations
if test -f $__fish_config_dir/abbrs.fish
    source $__fish_config_dir/abbrs.fish
end